__pycache__/Hive_Utils.cpython-39.pyc
*.log
*.pyc
.DS_Store
.idea/
symbols_pollenstory_dbs/*
symbols_STORY_bee_dbs/*
client_user_dbs/*
dbs/*
legal/*
db/*
logs/*
# **/*.db
**/*.legal
*.csv
*.ipynb
.env
jed_playground.py
airflow_home
